{% load static %}
<link rel="stylesheet" href="{% static 'route/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="landing">
        <nav class = "menu">
                <div class="logoContainer">
                    {% load static %}
                    <img src="{% static "route/images/icon.png" %}" alt = "logo" class="logo">
                    <p class="titlePage">Traffic Performance</p>
                </div>
                <div class="searchContainer">
                    <input placeholder="            Search models..." class="inputSearch"/>
                    {% load static %}
                    <img src="{% static "route/images/search.png" %}" alt = "logo" class="searchLogo">
                </div>
                <div class= "links">
                                    <ul>
                    <li>
                        <a ref="/" class="firstLink">
                            Simulator   
                        </a>
                    </li>
                    <li>
                        <a ref="/" class="">
                            My models
                        </a>
                    </li>
                    <li>
                        <a ref="/" class="">
                            Tutorials
                        </a>
                    </li>
                    <li>
                        <a ref="/" class="">
                            Sign in
                        </a>
                    </li>
               </ul>

                </div>
        </nav>
        <div class="mainSection">
            <img src="{% static "route/images/carsLanes.png" %}" alt ="carLanes"
            class = "carLanes">

            <div class ="leftMainSection">
                <div class="leftMainHero">
                    <h1 class="leftMainText"> 
                        Outsmarting traffic with edge computing. Configure and simulate scenarios in Vehicular Traffic Networks
                    </h1>
                </div>
                <button class="buttonStartSimulating">
                    Start simulating
                </button>

            </div>
            <div class ="rightMainSection">
                <div class="rightMainImage">
                    <img src="{% static "route/images/imageTraffic.png" %}" alt ="imageTraffic"
                    class = "imageTraffic">
                </div>

            </div>
        </div>
                <div class="simulatorSection">
            <div class = "parameters">
                <h2 class="titleTextSimulator"> Simulator </h2>
                <div class="subtitleParameters">
                    {% load static %}
                    <img src="{% static "route/images/parameters.png" %}" alt = "logo" class="logoParameters">
                    <p class="parametersText">Parameters</p>
                </div>
                <div class="cardParameters">
                    <div class="streetSelectionParameters">
                       <p class="firstElementText">Street selection</p>      
                        {% load static %}
                        <img src="{% static "route/images/cruceroOpenStreetMap.png" %}" alt ="Crucero" class="imageCrucero"/>
                    </div>
                    <div class="lineSplitter">
                    </div>
                    <div class="trafficLightsParameters">
                       <p class="firstElementText">Values</p>      
                    <label for="trafficLightValue">Time initial Traffic Light 1</label>
                        <select name="traficlight-names" id="traficlight-names">
                            <option value="10s">10 seconds</option>
                            <option value="15s">15 seconds</option>
                            <option value="20s">20 seconds</option>

                        </select>

                    <label for="trafficLightValue">Time end in Traffic Light 1</label>
                        <select name="traficlight-names" id="traficlight-names">
                            <option value="10s">30 seconds</option>
                            <option value="15s">40 seconds</option>
                            <option value="20s">50 seconds</option>

                        </select>

                    <label for="trafficLightValue">Time initial Traffic Light 2</label>
                        <select name="traficlight-names" id="traficlight-names">
                            <option value="10s">10 seconds</option>
                            <option value="15s">15 seconds</option>
                            <option value="20s">20 seconds</option>

                        </select>

                    <label for="trafficLightValue">Time end in Traffic Light 2</label>
                        <select name="traficlight-names" id="traficlight-names">
                            <option value="10s">30 seconds</option>
                            <option value="15s">40 seconds</option>
                            <option value="20s">50 seconds</option>

                        </select>


                    </div>
                    <div class="lineSplitter">
                    </div>
                    <div class="processingParameters">
                       <p class="firstElementText">Processing Unit</p>      
                    </div>

                </div>
            </div>
            <div class = "results">
                <div class="titleResults">
                    {% load static %}
                    <img src="{% static "route/images/results.png" %}" alt = "logo" class="logoResults">
                    <p class="parametersText">Results</p>
                </div>
                <div class="cardResults">
                    {% load static %}
                    <img src="{% static "route/images/resultsCharts.png" %}" alt ="results"  class="resultsCharts"/>
                </div>
            </div>

        </div>
        <div class="rightSection">
            <div class="rightTopSection">
                       <p class="firstElementText">@lisMoore</p>      
                       <p class="firstElementText">Liss Moore</p>      

                {% load static %}
                <img src="{% static "route/images/user.png" %}" alt ="Crucero"
                class = "userImage">
            </div>
            <div class="rightMediumSection">
            </div>
            <div class="rightBottomSection">
            </div>

        </div>

        <nav class = "menu">
                <div class="logoContainer">
                    {% load static %}
                    <img src="{% static "route/images/icon.png" %}" alt = "logo" class="logo">
                    <p class="titlePage">Traffic Performance</p>
                </div>
                <div class="searchContainer">
                    <input placeholder="            Search models..." class="inputSearch"/>
                    {% load static %}
                    <img src="{% static "route/images/search.png" %}" alt = "logo" class="searchLogo">
                </div>
                <div class= "links">
                                    <ul>
                    <li>
                        <a ref="/" class="firstLink">
                            Simulator   
                        </a>
                    </li>
                    <li>
                        <a ref="/" class="">
                            My models
                        </a>
                    </li>
                    <li>
                        <a ref="/" class="">
                            Tutorials
                        </a>
                    </li>
                    <li>
                        <a ref="/" class="">
                            Sign in
                        </a>
                    </li>
               </ul>

                </div>
        </nav>



    </div>
    
</body>
</html>
